.section__table {
    width: 100%;
}

.lista-funcionarios {
    margin-bottom: 32px;
}

.header__action {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 30px;
}

.table__cow__title {
    padding: 12px 15px;
    font-weight: 600;
    font-size: 16px;
    color: #333;
}

.table__header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
}

.table__body {
    width: 100%;
}

.table__row {
    border-bottom: 1px solid #e0e0e0;
}

.table__row__item {
    font-size: 13px;
    padding: 12px 15px;
    color: #333;
}

.table__row__actions {
    display: flex;
    gap: 5px;
    justify-content: right;
    padding: 12px 15px;
}

.button__action {
    padding: 6px 12px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: 500;
    height: 100%;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.button__action--primary {
    background-color: #17a2b8;
}

.button__action--secondary {
    background-color: #ffc107;
    color: #333;
}

.button__action--remove {
    background-color: #cf2f2f;
    border: none;
}

.cow--primary {
    width: 234px;
}