.modal__container {
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal__backgroud {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.modal__title {
    color: #cf2f2f;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.modal__paragraph {
    margin-bottom: 25px;
    line-height: 1.5;
    color: #555;
}