<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover Funcionário</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="modal__container">
        <div class="modal__backgroud">
            <h2> Confirmação de Remoção</h2>
            <p>Você tem certeza que deseja remover o funcionário {{ funcionario.nome }}</p>

            <p>Esta ação é irreversível.</p>
            
            <form method="post">
                {% csrf_token %}
                <button type="button" class="btn btn-success" onclick="fecharModal()"> Voltar </button>
                <input type="submit" class="btn btn-primary" value="Sim, Remover"></input>
            </form>
        </div>
    </div>
</body>

</html>